:root {
	--alto: rgb(215, 215, 215);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #212121;
	height: 100vh;
	width: 100vw;
}

.pageContainer {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	color: var(--alto);
  background-color: transparent;

	padding: 2rem;

  /* user-select: none; */
}

.fancyBorder {
  border: 1px solid var(--alto);
  border-radius: 1rem;
}
